@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

#mainContainer {
  display: flex;
  margin: auto 1%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:  var(--bg-color);
  color: var(--text-color);
}

#introPage .wrapper {
  height: 10vh;
  display: flex;
  background-color:  var(--bg-color);
  color: var(--text-color);
}

#desc {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--text-color);
  background-color:  var(--bg-color);
  width: 90%;
}

#mainContainer #textInfo { 
  font-weight: 900;
  background-color:  var(--bg-color);
  color: var(--text-color);
}

.words {
  overflow: hidden;
  background-color:  var(--bg-color);
  color: var(--text-color);
}

.wrapper span {
  display: block;
  height: 400%;
  padding-left: 10px;
  background-color:  var(--bg-color);
  color: var(--text-color);
  animation: spin_words 6s infinite;
}

@media screen and (min-width: 690px) and (max-width: 1000px) {
  #introPage .wrapper {
    height: 14vh;
  }
}

@media screen and (min-width: 1000px) {
  #picNheading{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color:  var(--bg-color);
    color: var(--text-color);
  }
  #mainContainer #textInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vw;
    background-color:  var(--bg-color);
    color: var(--text-color);
  }
  img {
    width: 25%; 
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  #picNheading{
    background-color:  var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 75%; 
    height: auto;
  }
  #desc {
    font-size: 3vw;
  }
  #mainContainer #textInfo {
    font-size: 6vw;
    background-color:  var(--bg-color);
    color: var(--text-color);
  }
}

.personalinfo {
  margin-top: 25px;
  width: 80%;
  background-color:  var(--bg-color);
  color: var(--text-color);
}

.personalinfo .btn {
  border-radius: 10px;
  height: 40px;
  padding: 0px 20px;
  margin-right: 2%;
  box-shadow: 2px 2px #555555;
  background-color:  var(--bg-color);
  cursor: pointer;
  color: var(--text-color);
}
.personalinfo .btn:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

@keyframes spin_words {
  10% {
    transform: translateY(-110%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}