@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

#mainContainer {
  display: flex;
  margin: auto 5%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#introPage .wrapper {
  height: 10vh;
  display: flex;
}

#desc {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  width: 90%;
}

#mainContainer #textInfo { 
  font-weight: 900;
}

.words {
  overflow: hidden;
}

.wrapper span {
  display: block;
  height: 400%;
  padding-left: 10px;
  color: black;
  animation: spin_words 6s infinite;
}

#picNheading{
  width: 90%;
}

@media screen and (min-width: 1000px) {
  #picNheading{
    display: flex;
    justify-content: space-between;
  }
  #mainContainer #textInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vw;
  }
  img {
    width: 25%; 
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  #picNheading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 75%; 
    height: auto;
  }
  #desc {
    font-size: 3vw;
  }
  #mainContainer #textInfo {
    font-size: 4vw;
  }
}

.personalinfo {
  margin-top: 25px;
  width: 80%;
}

.personalinfo .btn {
  border-radius: 10px;
  height: 40px;
  padding: 0px 20px;
  margin-right: 2%;
  box-shadow: 2px 2px #888888;
  cursor: pointer;
  color: black;
}
.personalinfo .btn:hover {
  background-color: black;
  color: white;
}

@keyframes spin_words {
  10% {
    transform: translateY(-110%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}