@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.StickyNavBar {
  background-color: black;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
  padding: 0.75% 0.5%; 
  z-index: 4;
}
.StickyNavBar ul {
  display: flex;
  justify-content: flex-start;
}
.StickyNavBar ul li {
  list-style: none;
}
@media only screen and (max-width: 930px) {
  .StickyNavBar ul {
    font-size: 5vw;
  }
  .dropbtn i {
    font-size: 5.5vw;
  }
  .dropbtn {
    font-size: 5vw;
  }
  .dropdown-content {
    font-size: 3.5vw;
  }
}
@media only screen and (min-width: 931px) {
.StickyNavBar ul {
  font-size: 2vw;
  }
  .dropbtn i {
    font-size: 2.5vw;
  }
  .dropdown-content {
    font-size: 2vw;
  }
}
.StickyNavBar ul li a {
  text-decoration: none;
  margin: 0px 1vw;
  color: white;
  transition: 0.6s;
  background-color: black;
  border-radius: 3px;
}
.StickyNavBar ul li:hover a {
  background-color: white;
  color: black;
}
.sections {
  margin: 13vh auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin-right: 3vw;
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: black;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a {
  color: white;
  padding: 0px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(87, 87, 87);
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.theme-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  z-index: 4;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

#moon-icon {
  display: none;
}